.main {
    width: 100%;
    height: 60px;
    background-color: black;
    box-shadow: 0 0 1px white;
}

ul {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
}

li {
    height: 100%;

}

.link {
    height: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    text-decoration: none;
    color: white;

}

.link:hover {
    background-color: green;

}

.selected {
    background-color: green;
}